.editor-wrapper{
  position: absolute;
  padding-top: 5%;
  width:70%;
  left:15%;
}
.editor-left-wrapper{
  position: absolute;
  left: -20%;
  width: 20%;
  height: 100%;
}
.editor-right-wrapper{
  position: absolute;
  right: -20%;
  width: 20%;
  height: 100%;
}
.row-wrapper{
  display: flex;
}
.col-wrapper{
  width: 100%;
  display: flex;
}