.menu-wrapper{
  position: relative;
}
.menu-icons-wrapper{
  width: 32pt;
  position: absolute;
  left: -32pt;
  opacity: 0;
  display: flex;
}
.menu-icon{
  padding-right: 2px;
  border-radius: 5px;
}
.menu-icon:hover{
  background-color: gainsboro;
}
.dropDown{
  max-height: 128pt;
  width: 128pt;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  position: absolute;
  top: 16pt;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px lightgrey;
}
.dropdown-item{
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.dropdown-item:hover{
  background-color: gainsboro;
}
.block-name{
  padding-left: 10px;
}
.block-icon-wrapper{
  display: flex;
  border-radius: 5px;
  border: 1px solid;
  background-color: white !important;
}
.block-icon{
  padding-left: 4px;
}
