.menu-wrapper{
  width: 32pt;
  height: 100%;
  position: relative;
  left: 0%;
  opacity: 0;
  display: flex;
}
.addMenu{
  width: 16pt;
}
.dropDown{
  display: none;
  position: absolute;
  top: 16pt;
}
