.dropdown-menu-title{
  padding: 5px;
  display: flex;
  justify-content: flex-start
}

.dropdown-menu-wrapper{
  position: relative;
  width: 100%;
}
.dropdown-menu-wrapper:hover{
  background-color: gainsboro;
  cursor: pointer;
}
.dropdown-menu-contents{
  position: absolute;
  width: 50%;
  z-index: 5;
  background-color: white;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px lightgrey;
}
.dropdown-menu-contents.active{
  display: block;
}

.dropdown-menu-content{
  width: 100%;
  border-radius: 5px;
  padding: 0px;
}
.dropdown-menu-content:hover{
  background-color: gainsboro;
  cursor: pointer;
}