.menu-title{
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}
.menu-title:empty:before{
  content: 'New Column';
  color: grey;
}

.menu-wrapper{
  position: relative;
  
}
.menu-wrapper:hover{
  background-color: whitesmoke;
  cursor: pointer;
}
.menu-contents{
  position: absolute;
  z-index: 5;
  background-color: white;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px lightgrey;
}
.menu-contents.active{
  display: block;
}

.menu-content{
  border-radius: 5px;
  padding: 0px;
}
.menu-content:hover{
  background-color: gainsboro;
  cursor: pointer;
}