.view-menu-wrapper{
  width:100%;
  height: 100%;
  border-radius: 5px;
}
.view-menu-wrapper:hover{
  background-color: whitesmoke;
}
.view-menu{
  z-index: 1;
  display: none;
  position:absolute;
  background-color: white;
  width: 128pt;
  max-height: 128pt;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px lightgrey;
}
.view-menu-header{
  border-bottom: 1px solid;
}
.view-menu.active{
  display: block;
}
.view-menu-items-wrapper{
  margin: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.view-menu-items-wrapper:hover{
  background-color: gainsboro;
}
.view-menu-icon-wrapper{ 
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 2px;
}
.view-menu-icon{
  margin: 2px;
}