.H1{
  display: block;
  font-size: 2em;
  font-weight: bold;
}
.H2{
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
.H3{
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}
.List{
  display:list-item
}
.ul{
  display: block;
  list-style-type: disc;
  padding-inline-start: 40px;
}