.text-block {
  position: relative;
  z-index: 1;
  width: 100%;
  outline:none;
  white-space: pre-wrap;
  margin-bottom: 8pt;
}
.text-block > div:empty:before{
  content: '\200'
}
a {
  color: black;
}