table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  overflow: scroll;
  margin-bottom: 16pt;
}

.table-head{
  outline: none;
  width: 100%;
  height: 100%;
}
.table-head:hover{
  background-color: whitesmoke;
}
.col-menu{
  z-index: 1;
  display: none;
  position:absolute;
  background-color: white;
  width: 128pt;
  max-height: 128pt;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px lightgrey;
}
.col-menu.active{
  display: block;
}
.col-menu-item:hover{
  background-color: gainsboro;
}

.anchor{
  width: 10%;
}

.table-row{
  border-top: solid 1px gainsboro;
  border-bottom: solid 1px gainsboro;
}
.table-row.active{
  background-color: whitesmoke;
}
.table-data-wrapper{
  width: 100%;
}
.row-index-wrapper{
  position:relative;
}
.row-index{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-index:hover{
  background-color: whitesmoke;
}
.row-menu{
  z-index: 1;
  display: none;
  position:absolute;
  background-color: white;
  width: 128pt;
  max-height: 128pt;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px lightgrey;
}
.row-menu.active{
  display: block;
}
.row-menu-item:hover{
  background-color: gainsboro;
}